include MANIFEST.in
include COPYING* LICENSE README.rst CONTRIBUTING.rst CHANGELOG.rst
include bin/ase
include ase_koopmans/spacegroup/spacegroup.dat
include ase_koopmans/collections/*.json
include ase_koopmans/db/static/*
include ase_koopmans/db/templates/*
include ase_koopmans/gui/po/Makefile
include ase_koopmans/gui/po/??_??/LC_MESSAGES/ag.po
include ase_koopmans/gui/po/??/LC_MESSAGES/ag.po
