{% extends 'layout.html' %}

{% block title %}
Browse ASE Database
{% endblock %}


{% block content %}


<div class="container">
<div class="row">
  <h1>{{proj}}</h1>
</div>



<div class="well mt-2">
  <form id="mainFormID" class="navbar-form navbar-default mt-2" role="search" action="/{{ project }}/">
    <input type="hidden" name="x" value="{{ s.id }}">
    <div class="form-group" style="margin-top:5px;">
      <input type="text" name="query" value="{{ s.query }}" id="formula-result"
             class="form-control mt-2" placeholder="Search formula e.g. MoS2" size="60">
      <button type="submit" class="btn btn-default">
        <i class="fa fa-search fa-1x" aria-hidden="true"></i>
      </button>
    </div><br/>
    <div class="form-group" style="margin-bottom:0px;">
      <small class="form-text text-muted">
        <a href="https://wiki.fysik.dtu.dk/ase/ase/db/db.html#querying" target="_blank">
          Help with constructing advanced search queries ...
        </a>
      </small>
    </div><br/>

{# Flash query messages #}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="list-group">
    {% for message in messages %}
      <li class="list-group-item list-group-item-warning">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <small lcass="form-text text-muted">
    <a data-toggle="collapse" href="#collapse1">Toggle list of keys ...</a>
    </small><br/>
    <div id="collapse1" class="collapse">
      <table class="table table-striped">
{% for key, (short, long, unit) in kd.items() %}
        <tr><td>{{ key }}</td><td>{{ long }}</td><td>{{ unit|safe }}</td></tr>
{% endfor %}
      </table>
    </div>
  </form>
</div>

<div class="row">
<div class="panel panel-default">
<div class="panel-heading">

<!-- Database Table -->

<div class="row">
    <div class="col-xs-6">
        <h5><b>
        Displaying rows {{ s.row1 }}-{{ s.row2 }} out of {{ s.nrows }}</b></h5>
    </div>

    <div class="col-xs-6">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Column <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
{% for key in t.addcolumns %}
                <li><a href="?x={{ s.id }}&amp;toggle={{ key }}">
                {{ kd[key][1] }} ({{key}})
                </a></li>
{% endfor %}
            </ul>
        </div>

        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rows: {{ s.limit }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="?x={{ s.id }}&limit=10">10</a></li>
                <li><a href="?x={{ s.id }}&limit=25">25</a></li>
                <li><a href="?x={{ s.id }}&limit=50">50</a></li>
                <li><a href="?x={{ s.id }}&limit=100">100</a></li>
                <li><a href="?x={{ s.id }}&limit=200">200</a></li>
            </ul>
        </div>
    </div>
</div>

</div>

<div class="panel-body">
</div>

<!-- Table -->
<table id="rows" class="table table-striped">

<tr>
{%- for c in t.columns %}
<th class="text-center">

{% set desc, longdesc, unit = kd[c] %}
{% set unit = unit and ' [' + unit + ']' %}

{% if s.sort == c %}&#x2193;
{% elif s.sort == '-' + c %}&#x2191;
{% endif -%}

{% if c == 'formula' %}
<span data-toggle="tooltip" title="key: formul">Formula</span>
{% else %}
<a href="?x={{ s.id }}&amp;sort={{ c }}"
  data-toggle="tooltip" title="key: {{c}}{{unit}}">{{ desc }}</a>
{% endif %}
<a href="?x={{ s.id }}&amp;toggle={{ c }}"
   data-toggle="tooltip" title="Remove column">&#x2715;</a>
</th>
{%- endfor %}
</tr>

{% for row in t.rows -%}

<tr id="rowentry" class="rowentry">
{%- autoescape false -%}
{%- for s in row.strings -%}
<td class="text-center">
  <a href="row/{{ row.uid }}">
    {%- if s != "" -%}{{ s }}{% else %}-{% endif %}
  </a>
</td>
{% endfor %}
{% endautoescape %}
</tr>

{% endfor %}
</table>
</div>

</div>


<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm">

{% for page, name in s.paginate() %}
    {% set hrefstr="#" %}
    {% if page >= 0 %}
        {% set hrefstr= '/' + project|string + '/?x=' + s.id|string + '&page=' + page|string  %}
    {% endif %}
    {% if name=="previous" %}
        <li>
            <a href="{{hrefstr}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% elif name=="next" %}
        <li>
            <a href="{{hrefstr}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% elif name=="..." %}
        <li class="inactive"><a href="{{hrefstr}}">{{ name }}</a></li>
    {% elif page < 0 %}
        <li class="active"><a href="{{hrefstr}}">{{ name }}</a></li>
    {% else %}
        <li><a href="{{hrefstr}}">{{ name }}</a></li>
    {% endif %}
{% endfor %}

        </ul>
    </nav>
</div>
</div> <!-- class="container" -->

{% endblock content %}

